
h1 {
  color: tomato;
  margin-bottom: 40px;
}

.center {
    text-align: center;
}

.prod {
    min-height: 350px;
    border: 2px solid #c5c5c5;
    margin-bottom: 25px;
    margin-left: 6%;
    background: #f8f8f8;
}

span {
  font-weight: 400;
  color: #1e2227;

}
