
h1 {
  color: tomato;
}

.center {
    text-align: center;
}

.prod {
    min-height: 350px;
    border: 2px solid #f8f8f8;
    margin-bottom: 25px;
}

span {
  font-weight: 400;
  color: #1e2227;

}
